version: '3.8'

services:
  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - flaskp-net

  backend:
    build: ./backend
    expose:
      - "5000"
    networks:
      - flaskp-net

networks:
  flaskp-net:
    driver: bridge